{% extends 'base.html.twig' %}

{% block title %}Hello AgenceImmobiliereOptionsController!{% endblock %}

{% block body %}
    <main id=dashboard" class="dashboard">
        <div class="container-fluid">
            <div class="row">
                {# div 4 pour le menu du dashboard #}
                {% include 'composant/__agence_immobiliere/_tableau_de_bord.html.twig' %}

                {# contenu du dashboard #}
                <div class="col-8">
                    <h2>options</h2>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
