{% extends 'base.html.twig' %}

{% block title %}{{ 'visiteur.reset_password.check_email.meta.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-lg-8 mx-auto">
                                    <div class="login my-48">
                                        <h1 class="mb-0 w-xl-70">
                                            {{ 'visiteur.reset_password.check_email.title'|trans }}
                                        </h1>

                                        <a href="{{ path('app_forgot_password_request') }}" class="mt-32 d-block w-100 text-blue link-blue fz-16">
                                            {{ 'visiteur.reset_password.check_email.resend_link'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-none d-lg-block pe-0">
                    <div class="bg-login"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
