{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <main>
        {# hero #}
        <div class="container mt-64" id="home-hero">
            <div class="row">
                <div class="col-12">
                    <div
                        class="home-hero position-relative overflow-hidden d-flex align-items-center justify-content-center"
                        data-controller="media-hero"
                        data-media-hero-type-value="video"
                        data-media-hero-src-value="{{ asset('images/home/hero/01.mov') }}"
                        data-media-hero-poster-value="{{ asset('images/home/hero/01.jg') }}"
                    >
                        <div class="home-hero-content w-100">
                            <div class="row mx-0">
                                <div class="col-12 col-lg-8 mx-auto">
                                    <h1 class="home-hero-title">
                                        L’immobilier,<br>
                                        réinventé.
                                    </h1>

                                    <div class="home-hero-search-card">
                                        champs de recherche
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# cookies de recherche #}
        <div class="container">
            <div class="row">
                <div class="cookies">
                    <h2>Continuez votre recherche pour “Appartement à louer” à Paris</h2>
                    <a href="#">Reprendre la recherche</a>
                    <a href="#">Annuler</a>
                </div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>

        {# exploration #}
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="explore-property">
                        <h2>Explorez toutes les propritétés</h2>
                        <a href="En location"></a>
                        <a href="En vente"></a>
                    </div>
                </div>
            </div>
        </div>

        {# Card des bien immobilier #}
        <div class="container">
            <div class="row">
                <div class="slide-immobilier">

                </div>
            </div>
        </div>

        {# Card des bien immobilier #}
        <div class="container">
            <div class="row">
                slide 01
            </div>
        </div>

        {# Card des bien immobilier #}
        <div class="container">
            <div class="row">
                slide 01
            </div>
        </div>

        {# pensil a droite #}
        <div class="container">
            <div class="row">
                <div class="col-6">sdsdsd</div>
                <div class="col-6">sdsdsd</div>
            </div>
        </div>

        {# pensil a gauche #}
        <div class="container">
            <div class="row">
                <div class="col-6">sdsdsd</div>
                <div class="col-6">sdsdsd</div>
            </div>
        </div>

        {# reassurance #}
        <div class="container">
            <div class="row">
                <div class="col-3">SQD</div>
                <div class="col-3">DSQ</div>
                <div class="col-3">DSQ</div>
                <div class="col-3">DSQ</div>
            </div>
        </div>

        {# Image bas #}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    img
                </div>
            </div>
        </div>

    </main>

{% endblock %}
