.login {

}
.login h1 {
    color: var(--color-black);
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: var(--line-height-h2);
}

.bg-login {
    background-image: url("../../images/authentification/mon-compte.webp");
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.adaptation-image-login {
    /*height: calc(100dvh - 72px);*/
    flex: 1;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.otp-container-recu-par-mail {
    display: flex;
}

.otp-input-recu-par-mail {
    width: 48px !important;
    height: 64px !important;
    text-align: center !important;
    color: #858789 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}
