.login {

}
.login h1 {
    color: var(--color-black);
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: var(--line-height-h2);
}

.bg-login {
    /*position: fixed;*/
    /*width: 50%;*/
    /*height: 100dvh;*/
    background-image: url("../../images/authentification/mon-compte.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    will-change: transform;
    min-height: 900px;
    width: 100%;
    /*right: 0;*/
}

.adaptation-image-login {
    height: calc(100dvh - 72px);
}

.otp-container-recu-par-mail {
    display: flex;
}

.otp-input-recu-par-mail {
    width: 48px !important;
    height: 64px !important;
    text-align: center !important;
    color: #858789 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}
.margin-footer-reset-password {
    margin-bottom: calc(
        350px + (450 - 350) * ((100vw - 375px) / (1920 - 375))
    );
}

.margin-footer-link {
    margin-bottom: calc(
        435px + (560 - 435) * ((100vw - 375px) / (1920 - 375))
    );
}
.margin-footer-forumaire-password {
    margin-bottom: calc(
        273px + (340 - 273) * ((100vw - 375px) / (1920 - 375))
    );
}
.margin-footer-register {
    margin-bottom: calc(
        160px + (225 - 160) * ((100vw - 375px) / (1920 - 375))
    );
}
.margin-footer-opt {
    margin-bottom: calc(
        220px + (220 - 220) * ((100vw - 375px) / (1920 - 375))
    );
}
