{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-11 col-md-10 col-lg-4 mx-auto ">
                                    <div class="login my-48 px-48 py-48 bg-white rounded-24">
                                        <h1 class="mb-0 text-lg-center ">Connexion à votre espace professionnel</h1>
                                        <div class="media-social mt-32">
                                            <a href="" class="btn-bg-noir d-block w-100 text-center">Connexion via Apple</a>
                                            {{ include('composant/_authentification/_google_login.html.twig', {
                                                type: 'professionnel'
                                            }) }}
                                        </div>
                                        <div class="divider my-32">
                                            <span>OU</span>
                                        </div>
                                        <div class="formulaire">
                                            <form action="">
                                                <div class="">
                                                    <label for="email" class="form-label mb-16">Adresse e-mail</label>
                                                    <input type="email" class="form-control mb-16" id="email" placeholder="Veuillez entrer votre adresse e-mail">

                                                    <label for="pwd" class="form-label mb-16">Mot de passe</label>
                                                    <input type="email" class="form-control flash-input-error" id="pwd" placeholder="Veuillez entrer votre mot de passe">

                                                    {# message flash #}
                                                    <span class="flash-message-error mt-24 d-block">Adresse e-mail ou mot de passe incorrect</span>

                                                    <button class="mt-32 btn-submit w-100 text-white" type="submit">Se connecter</button>
                                                </div>
                                            </form>
                                        </div>
                                        <a href="" class="my-24 d-block w-100 text-center text-blue link-blue">Mot de passe oublié ?</a>
                                        <a href="{{ path('app_professionnelle_register') }}" class="btn-bg-border-blue d-block w-100 text-center">
                                            Inscription
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url("{{ asset('images/authentification/real-estate.webp') }}") no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
        }
    </style>
{% endblock %}
